[submodule "microapps/qiankun-vite-vue"]
	path = microapps/qiankun-vite-vue
	url = git@github.com:YLifeOnlyOnce/qiankun-vite-vue-demo.git
[submodule "microapps/qiankun-webpack-vue"]
	path = microapps/qiankun-webpack-vue
	url = git@github.com:YLifeOnlyOnce/qiankun-webpack-vue-demo.git
