[submodule "vite-vue-with-qp"]
	path = microapps/vite-vue-with-qp
	url = git@github.com:YLifeOnlyOnce/qiankun-vite-vue-demo.git
[submodule "webpack-vue-with-qp"]
	path = microapps/webpack-vue-with-qp
	url = git@github.com:YLifeOnlyOnce/qiankun-webpack-vue-demo.git
